@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<test_task_2002.Models.User>

<table class="table">
    <tr><th>Name</th><th>Age</th><th>Status</th><th>NickName</th><th>Details</th></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Age</td>
            <td>@item.Status</td>
            <td>@item.NickName</td>
            <td><a asp-action="DetailsUsers" asp-controller="Home" asp-route-id="@item.Id">Details</a>
                    </td>
        </tr>
    }
</table>
